@import "tailwindcss";

@font-face {
  font-family: "Poppins";
  src: url(/fonts/Poppins-Regular.woff2) format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(/fonts/Poppins-Medium.woff2) format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(/fonts/Poppins-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(/fonts/Poppins-Bold.woff2) format("woff2");
  font-weight: 700;
  font-display: swap;
}

@theme {
  --font-primary: "Poppins", sans-serif;
  --color-primary: #b23920;
  --color-secondary: #f7b754;
  --color-tertiary: #223c5f;
  --color-accent: #fde9cb;
}

@layer base {
  html {
    @apply scroll-smooth scroll-p-16;
  }
  body {
    @apply overflow-x-hidden font-primary text-black/80 text-base bg-white;
  }
  .container {
    @apply max-w-7xl w-full mx-auto px-4;
  }
  h1 {
    @apply text-[clamp(2rem,6vw,3rem)] font-bold;
  }
  h2 {
    @apply text-[clamp(1.5rem,5vw,2.5rem)] font-bold;
  }
  h3 {
    @apply text-[clamp(1.25rem,4vw,2rem)] font-bold;
  }
  h4 {
    @apply text-[clamp(1rem,3vw,1.75rem)] font-bold;
  }
  h5 {
    @apply text-xl font-semibold;
  }
  h6 {
    @apply text-lg font-semibold;
  }
}

@layer components {
  header {
    @apply bg-white;
  }
  .headerNav ul {
    @apply flex flex-col gap-5 fixed w-full top-26 text-left 
    items-start overflow-hidden right-0 h-0 opacity-0 duration-300
    /* tablet - desktop */
    md:opacity-100 md:flex-row md:items-center md:top-auto
    md:h-auto md:static md:shadow-none;
  }
  .headerNav ul.open {
    @apply h-fit opacity-100 bg-white shadow-md w-full top-22
    px-4 pb-3 duration-300
    /* tablet-desktop */
    md:shadow-none md:px-0 md:pb-0;
  }
  .toggleMenu {
    @apply flex flex-col gap-1 
    /* tablet-desktop */
    md:hidden;
  }
  .toggleMenu span:first-child {
    @apply inline-block w-10 h-1 rounded-xl bg-primary duration-300;
  }
  .toggleMenu span:nth-child(2) {
    @apply inline-block w-6 h-1 rounded-xl bg-primary duration-300;
  }
  .toggleMenu.open span:first-child {
    @apply rotate-45 translate-y-1.5;
  }
  .toggleMenu.open span:nth-child(2) {
    @apply w-10 -rotate-45 -translate-y-1;
  }
  .toggleMenu.open {
    @apply relative;
  }
  .transparent {
    @apply hidden;
  }
  .transparent.open {
    @apply block fixed h-screen w-full backdrop-blur-sm left-0 
    top-64 duration-300 overflow-y-hidden;
  }
  .btmtext {
    @apply text-primary;
  }
  .btn {
    @apply inline-block px-6 py-3 rounded-lg font-medium
    w-full text-center md:w-auto;
  }
  .btn--orange {
    @apply bg-primary text-white hover:bg-secondary;
  }
  .btn--orangetransparent {
    @apply border border-primary text-white hover:bg-gray-50/10;
  }
  .btn--cta {
    @apply bg-secondary text-black hover:cursor-pointer px-4 py-2;
  }
  .foodTab {
    @apply size-20;
  }
  .foodItem {
    @apply hidden;
  }
  .foodItem.active {
    @apply block;
  }
  .foodTab {
    @apply size-20 bg-white rounded-full flex items-center justify-center cursor-pointer transition-all duration-300;
  }
  .foodTab.active {
    @apply outline-3 outline-secondary outline-offset-5;
  }
}
